# directories produced during the site build
output
tmp

# output log from build failures
crash.log

# common unwanted file types
.DS_Store
Gemfile.lock

# virualenv and rvmrc for deploy script
/.virtualenv
/.rvmrc
