[submodule "dev.globus.org-staging"]
	path = dev.globus.org-staging
	url = git@github.com:globusonline/dev.globus.org-staging.git
	ignore = all
[submodule "dev.globus.org"]
	path = dev.globus.org
	url = git@github.com:globusonline/dev.globus.org.git
	ignore = all
