@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/fonts/221E91_4_0.woff') format('woff');
	font-weight: 100 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/fonts/221E91_3_0.woff') format('woff');
	font-weight: 500 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/fonts/221E91_1_0.woff') format('woff');
	font-weight: 300 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/nts/221E91_0_0.woff') format('woff');
	font-weight: 700 ;
}

body {
    font-family: museosans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: red; 
}

/* Site header */
.site-header {
	min-height: 56px;
}
.site-header .navbar-header .navbar-brand {
	vertical-align: middle;
}
.site-header .navbar-header .navbar-brand img {
	height: 30px;
	margin-top: -5px;
	margin-right: 10px;
}