---
title: Globus Developer
layout: home
hide_pageheader: true
hide_breadcrumb: true
---

<% @site.sorted_articles[0, 10].each do |article| %>
<p><strong> 
<%= link_to(article[:title], article.path) %> </strong><br/>
<%= article[:created_at] %> <br/>
<%= tags_for(article) %> <br/></p>
<% end %>

<div class="row">
	<div class="col-sm-4 text-center">
		<i class="fa fa-code fa-2x"></i>
		<h3>Get Started</h3>
		<p>Nulla commodo felis non sem consequat, quis faucibus risus ultricies. Morbi in mi vel nibh ultrices venenatis. Curabitur lectus neque, ultrices molestie magna at, bibendum sagittis ipsum.</p>
	</div>
	<div class="col-sm-4 text-center">
		<i class="fa fa-terminal fa-2x"></i>
		<h3>Learn How</h3>
		<p>Nulla commodo felis non sem consequat, quis faucibus risus ultricies. Morbi in mi vel nibh ultrices venenatis. Curabitur lectus neque, ultrices molestie magna at, bibendum sagittis ipsum.</p>
	</div>
	<div class="col-sm-4 text-center">
		<i class="fa fa-envelope-o fa-2x"></i>
		<h3>Find Help</h3>
		<p>Nulla commodo felis non sem consequat, quis faucibus risus ultricies. Morbi in mi vel nibh ultrices venenatis. Curabitur lectus neque, ultrices molestie magna at, bibendum sagittis ipsum.</p>
	</div>

	<div class="col-sm-12 text-center">
		<hr>
		<% doc_link = '/toolkit/docs/' + @config[:docs][:toolkit] %>
		<p>Globus services leverage the tried and tested components of the <a href="/toolkit/">Globus Toolkit</a> including <a href="<%= doc_link %>#gridftp">GridFTP</a>, <a href="<%= doc_link %>#gsi">GSI</a>, and <a href="<%= doc_link %>#myproxy">MyProxy</a>.</p>
	</div>
</div>


