aside.sidebar-block {
    margin-bottom: 15px;
    padding: 0 15px 15px;
/*	border-bottom: 1px solid #EEE;*/
}
aside.sidebar-block+aside.sidebar-block {
    padding-top: 15px;
}
aside.sidebar-block .nav {
    margin-bottom: 15px;
}
aside.sidebar-block .nav.nav-stacked>li+li {
    margin-top: 0;
}
aside.sidebar-block .nav>li>.nav-header-divider,
aside.sidebar-block .nav>li>a {
    padding: 3px 20px;
    font-size: 12px;
    border-radius: 0;
    margin-top: 4px;
    color: #aaa;
}
aside.sidebar-block .nav>li>.nav-header-divider {
    color: #999;
    margin-top: 5px;
    padding-bottom: 0 !important;
}
/*aside.sidebar-block .nav>li>a:hover,
aside.sidebar-block .nav>li>a:focus {
    text-decoration: underline;
    background-color: transparent;
    color: #2A6496;
}*/
aside.sidebar-block .nav>li>a:hover,
aside.sidebar-block .nav>li>a:focus,
aside.sidebar-block .nav>li.active>a,
aside.sidebar-block .nav>li.active>a:hover,
aside.sidebar-block .nav>li.active>a:focus {
    background-color: transparent;
    border-left: solid 1px #06C;
    padding-left: 19px;
    color: #06C;
}
aside.sidebar-block .nav>li.active>a,
aside.sidebar-block .nav>li.active>a:hover,
aside.sidebar-block .nav>li.active>a:focus {
    border-left-width: 2px;
    padding-left: 18px;
}

/* 2nd depth */
aside.sidebar-block .nav .nav {
    margin-bottom: 0;
}
aside.sidebar-block .nav .nav .nav>li>a {
    padding-left: 40px;
    font-size: .8em;
}
aside.sidebar-block .nav .nav .nav>li>a:hover,
aside.sidebar-block .nav .nav .nav>li>a:focus,
aside.sidebar-block .nav .nav .nav>li.active>a,
aside.sidebar-block .nav .nav .nav .nav>li.active>a:hover,
aside.sidebar-block .nav .nav .nav>li.active>a:focus {
    background-color: transparent;
    border-left: solid 1px #06C;
    padding-left: 39px;
    color: #06C;
}
aside.sidebar-block .nav .nav .nav>li.active>a,
aside.sidebar-block .nav .nav .nav>li.active>a:hover,
aside.sidebar-block .nav .nav .nav>li.active>a:focus {
    border-left-width: 2px;
    padding-left: 38px;
}

/* 3rd depth */
aside.sidebar-block .nav .nav .nav .nav>li>a {
    padding-left: 60px;
}
aside.sidebar-block .nav .nav .nav .nav>li>a:hover,
aside.sidebar-block .nav .nav .nav .nav>li>a:focus,
aside.sidebar-block .nav .nav .nav .nav>li.active>a,
aside.sidebar-block .nav .nav .nav .nav .nav>li.active>a:hover,
aside.sidebar-block .nav .nav .nav .nav>li.active>a:focus {
    background-color: transparent;
    border-left: solid 1px #06C;
    padding-left: 59px;
    color: #06C;
}
aside.sidebar-block .nav .nav .nav .nav>li.active>a,
aside.sidebar-block .nav .nav .nav .nav>li.active>a:hover,
aside.sidebar-block .nav .nav .nav .nav>li.active>a:focus {
    border-left-width: 2px;
    padding-left: 58px;
}
aside.sidebar-block .panel-heading {
    background-color: transparent;
    border-bottom: solid 1px #ddd;
}
aside.sidebar-block .panel-heading a {
    display: block;
    font-weight: 600;
    color: #555;
}
aside.sidebar-block .panel-heading a:hover {
    text-decoration: none;
    color: #06c;
}
aside.sidebar-block .panel-heading .caret {
    border-top: solid 6px #999;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    margin-left: -5px;
    margin-right: 5px;
}
aside.sidebar-block a:not(.active) .caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #999;
    margin-right: 4px;
}
aside.sidebar-block .list-group .panel-collapse a {
    padding-left: 30px;
    background-color: #f9f9f9;
    color: #06c;
    font-size: 12px;
}
aside.sidebar-block .list-group .panel-collapse a:hover {
    background-color: #eee;
}
aside.sidebar-block .list-group .panel-collapse a.active {
    padding-left: 28px;
    border-color: #ddd;
    color: #333;
    border-left: solid 2px #ccc;
}
