@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/css/fonts/221E91_4_0.woff') format('woff');
	font-weight: 100 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/css/fonts/221E91_3_0.woff') format('woff');
	font-weight: 500 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/css/fonts/221E91_1_0.woff') format('woff');
	font-weight: 300 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/css/fonts/221E91_0_0.woff') format('woff');
	font-weight: 700 ;
}

body {
	/*padding-top: 60px;*/
  font-family: museosans,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h2, h3 {
	color: #708FCA;
	font-weight: 100;
}

/* Navbar */
header.navbar {
	padding: 10px 0;
	background-color: #3560A0;
	margin-bottom: 0;
}
header.navbar .navbar-header .navbar-brand {
	vertical-align: middle;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 26px;
}
header.navbar .navbar-header .navbar-brand img {
	height: 30px;
	margin-top: -5px;
	margin-right: 10px;
}
header.navbar-inverse .nav {
	font-size: 17px;
	font-weight: 100;
}
header.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 7px;
}
header.navbar-inverse .navbar-nav>.active>a, 
header.navbar-inverse .navbar-nav>.active>a:hover, 
header.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #186EB8;
	border-radius: 4px;
}

/* Masthead */
.page-masthead {
	padding: 60px 15px;
	margin-bottom: 40px;
	min-height: 300px;
	background-color: #F0F0F0;
}

/* Header */
.page-header {
	border-bottom: none;
}
.page-header .container {
	border-bottom: 1px solid #EEE;
	position: relative;
}
.page-header .breadcrumb {
	background: rgba(0, 0, 0, 0);
	padding: 0;
	font-size: 14px;
	text-transform: uppercase;
}
.page-header h1 {
	font-weight: 100;
	padding-right: 500px;
	font-size: 30px;
}
.page-header .nav {
	position: absolute;
	right: 0;
	bottom: 0;
	border-bottom: none;
}
.page-header .nav>li {
	display: inline-block;
}
.page-header .nav>li>a {
	border-radius: 0;
	font-size: 15px;
	color: #666;
}
.page-header .nav>li>a:hover, 
.page-header .nav>li>a:focus {
	background-color: transparent;
	color: #2A6496;
}
.page-header .nav>li.active>a, 
.page-header .nav>li.active>a:hover, 
.page-header .nav>li.active>a:focus {
	color: #000;
	border-bottom: 3px solid #DDD;
}

/* Content */
.page-content {}

/* Asciidoc */
#doc-header {
	margin-bottom: 30px;
}
#doc-header h1 {
	font-weight: 300;
	/*padding-bottom: 9px;
	border-bottom: 1px solid #EEE;*/
}
#doc-header #toc {
	padding: 10px 0 0 25px
}
#doc-header #toc li {
	list-style-type: lower-roman;
	margin: 3px 0;
}


/* Site Footer */
footer {
	font-size: 13px;
	margin-top: 60px;
	padding: 30px 0;
}
footer .container {
	border-top: 1px solid #E8E8E8;
	padding: 30px 0;
}
footer p {
	padding: 10px 0;
}
footer .nav li {
	display: inline-block;
}