@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/css/fonts/221E91_4_0.woff') format('woff');
	font-weight: 100 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/css/fonts/221E91_3_0.woff') format('woff');
	font-weight: 500 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/css/fonts/221E91_1_0.woff') format('woff');
	font-weight: 300 ;
}
@font-face {
	font-family: 'museosans';
	src: url('//www.globus.org/sites/all/themes/globus_bootstrap_theme/css/fonts/221E91_0_0.woff') format('woff');
	font-weight: 700 ;
}

body {
	/*padding-top: 60px;*/
  font-family: museosans,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* Masthead */
header#masthead {
	padding: 10px 0;
	background-color: #3560A0;
  /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NjBhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iIzI3NTE4ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzUxOGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #3560a0 0%, #27518f 42%, #27518f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3560a0), color-stop(42%,#27518f), color-stop(100%,#27518f));
  background: -webkit-linear-gradient(top,  #3560a0 0%,#27518f 42%,#27518f 100%);
  background: -o-linear-gradient(top,  #3560a0 0%,#27518f 42%,#27518f 100%);
  background: -ms-linear-gradient(top,  #3560a0 0%,#27518f 42%,#27518f 100%);
  background: linear-gradient(to bottom,  #3560a0 0%,#27518f 42%,#27518f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3560a0', endColorstr='#27518f',GradientType=0 );*/
}
header#masthead .navbar-header .navbar-brand {
	vertical-align: middle;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 26px;
}
header#masthead .navbar-header .navbar-brand img {
	height: 30px;
	margin-top: -5px;
	margin-right: 10px;
}
header#masthead.navbar-inverse .nav {
	font-size: 17px;
	font-weight: 100;
}
header#masthead.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

/* Header */
.page-header {
	border-bottom: none;
}
.page-header .container {
	border-bottom: 1px solid #EEE;
	position: relative;
}
.page-header h1 {
	font-weight: 100;
}
.page-header .nav {
	position: absolute;
	right: 0;
	bottom: 0;
	border-bottom: none;
}
.page-header .nav>li {
	display: inline-block;
}
.page-header .nav>li>a {
	border-radius: 0;
	font-size: 14px;
	color: #666;
}
.page-header .nav>li>a:hover, 
.page-header .nav>li>a:focus {
	background-color: transparent;
	color: #2A6496;
}
.page-header .nav>li.active>a, 
.page-header .nav>li.active>a:hover, 
.page-header .nav>li.active>a:focus {
	color: #000;
	border-bottom: 3px solid #DDD;
}

/* Content */
.page-content {}

/* Asciidoc */
#doc-header {
	margin-bottom: 30px;
}
#doc-header h1 {
	font-weight: 300;
	/*padding-bottom: 9px;
	border-bottom: 1px solid #EEE;*/
}
#doc-header #toc {
	padding: 10px 0 0 25px
}
#doc-header #toc li {
	list-style-type: lower-roman;
	margin: 3px 0;
}

/* Site Footer */
footer {
	font-size: 13px;
	margin-top: 60px;
	padding: 30px 0;
}
footer .container {
	border-top: 1px solid #E8E8E8;
	padding: 30px 0;
}
footer p>a {
	padding-left: 30px;
}