.toolkit-doc dd {
	margin-left: 25px;
}

.toolkit-doc div.important table,
.toolkit-doc div.warning table,
.toolkit-doc div.note table,
.toolkit-doc div.tip table {
	margin: 0;
}
.toolkit-doc div.important table th,
.toolkit-doc div.important table td,
.toolkit-doc div.warning table th,
.toolkit-doc div.warning table td,
.toolkit-doc div.note table th,
.toolkit-doc div.note table td,
.toolkit-doc div.tip table th,
.toolkit-doc div.tip table td {
	border: none;
}