<!-- cookie notice -->
<div id="cookie_notice" class="alert alert-caution alert-dismissible clearfix" role="alert">
	<div class="container"><div class="row">
	    <div class="col-xs-12 col-sm-11">
	    	<p>I have read the <a href="https://www.globus.org/legal/privacy" target="_blank">Privacy Policy</a> and by clicking "Okay" I agree to the terms therein. Specifically, I understand and agree that this service may store data on servers worldwide, including the University of Chicago through Globus's central servers in the United States.</p></div>
	    <div class="col-xs-12 col-sm-1"><button type="button" class="btn btn-primary btn-sm pull-right " id="cookie-btn" >Okay</button></div>
	</div></div>
</div>