<footer>
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <p>&copy; 2010-<span id="current-year"></span> The University of Chicago <span id="legal"><a href="https://www.globus.org/legal" target="_blank">Legal</a></p>
          </div>
      </div>
  </div>
</footer>

<script src="/js/classie.js"></script>
<script src="/js/sidebarEffects.js"></script>
<script>
  var currentYear = (new Date).getFullYear();
  $("#current-year").text(currentYear);
</script>