<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm-7">
            <p>© 2010-2014 Computation Institute, University of Chicago, Argonne National Laboratory</p>
          </div>
          <div class="col-sm-5">
          	<%= globus_build_menu('footer_menu') %>
      	</div>
      </div>
  </div>
</footer>

<script src="/js/classie.js"></script>
<script src="/js/sidebarEffects.js"></script>
