<% # Get current year for copyright
  time = Time.new
  currentYear = time.year
%>
<footer>
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-9">
            <p>© 2010-<%= currentYear %> Computation Institute, University of Chicago, Argonne National Laboratory</p>
          </div>
          <div class="col-xs-12 col-sm-3">
          	<%= globus_build_menu('footer_menu') %>
      	</div>
      </div>
  </div>
</footer>

<script src="/js/classie.js"></script>
<script src="/js/sidebarEffects.js"></script>
