<footer>
  <div class="container">
    <p>© 2010-2014 Computation Institute, University of Chicago, Argonne National Laboratory <a href="//globus.org/legal">Legal</a> <a href="/privacy">Privacy</a></p>
  </div>
</footer>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>