<header id="masthead" class="navbar navbar-inverse navbar-static-top">
  <div class="container"><div class="row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-xs-12 col-md-4">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="Home"><span class="name">globus <span class="name-heavy">developer</span></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-xs-12 col-md-8"><nav class="collapse navbar-collapse" role="navigation">

      <div id="search-container" class="navbar-form navbar-right">
          <script>
              (function() {
                var cx = '013279408114358323190:7unzbwmu0ga';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
        </div>

      <%= globus_build_menu('main_menu') %>

    </nav></div><!-- /navigation-->
  </div></div><!-- /.container -->
</header>
