<!-- cookie notice -->
<div id="cookie_notice" class="alert alert-caution alert-dismissible clearfix" role="alert">
  <div class="container"><div class="row">
    <div class="col-xs-12 col-sm-11">
      <p>This website uses cookies so that we can improve our website and enhance your user experience. To find out more about cookies and their use by us, please see the "Cookies" section in our <a href="https://www.globus.org/legal/privacy" target="_blank">Privacy Policy</a>. By clicking the Accept button, I accept cookies from this website.</p>
    </div>
    <div class="col-xs-12 col-sm-1"><button type="button" class="btn btn-primary btn-sm pull-right " id="cookie-btn" >Accept</button></div>
  </div></div>
</div>

<header id="masthead" class="navbar navbar-inverse navbar-static-top">
  <div class="container"><div class="row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-xs-12 col-md-4">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="https://globus.org"><img src="/images/logo.png" alt="Globus.org"></a>
        <a href="/"><span class="name">globus <span class="name-heavy">docs</span></span></a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-xs-12 col-md-8"><nav class="collapse navbar-collapse" role="navigation">

      <div id="search-container" class="navbar-form navbar-right">
          <script>
            (function() {
              var cx = '013279408114358323190:7unzbwmu0ga';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                  '//www.google.com/cse/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
          </script>
          <gcse:search></gcse:search>
        </div>

      <%= globus_build_menu('main_menu') %>

    </nav></div><!-- /navigation-->
  </div></div><!-- /.container -->
</header>

<% if not @item[:home_page] %>
<div class="page-header">
    <div class="container">
        <div class="row"><div class="col-sm-12">
            <%= globus_breadcrumb_for(@item) %>
            <h1><%= globus_get_title(@item) %></h1>
        </div></div>
    </div>
</div>

<% else %>

<div class="page-masthead">
  <div class="home-hero container text-left">
    <h1>Harness the power<br/>
        of the Globus<br/>
        research data<br/>
        management<br/>
        cloud.</h1>
  </div>
</div>

<% end %>
