<header id="masthead" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="//www.globus.org/sites/all/themes/globus_bootstrap_theme/logo.png" alt="Home"> @config[:site_name]</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav class="collapse navbar-collapse" role="navigation">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% nav_items = [
          { title: "Transfer API", href: "/docs/transfer-api/v0.10/"},
          { title: "Toolkit", href: "/docs/toolkit/"},
          { title: "About", href: "/about/"},
          { title: "Support", href: "#"},
        ] %>
        <% nav_items.each do |nav_item| 
          # item = @items.find { |i| i.identifier == nav_item[:href] }
          %>
        <li class="<%= 'active' if nav_item[:href] == @item.identifier %>">
          <%= link_to nav_item[:title], nav_item[:href] %>
        </li>
        <% end %>
      </ul>
    </nav><!-- /navigation-->
  </div><!-- /.container -->
</header>