<% if item.identifier.start_with?("/docs/transfer-api") %>
	<h1><%= @item[:title] %> <small><%= @item[:subtitle] %></small></h1>
	<ul class="nav nav">
	  <li class="active"><a href="#">Reference</a></li>
	  <li><a href="#">Tutorials</a></li>
	  <li><a href="#">Libraries</a></li>
	  <li><a href="#">Support</a></li>
	</ul>
<% else %>
	<h1><%= @item[:title] %></h1>
<% end %>