<%= render '/partials/head/' %>
<% i = @item.identifier.dup %>

<body class="default-page <%= i.gsub!('/','') %>">
  <%= render '/partials/header/' %>

  <% if !@item[:hide_pageheader] %>
    <div class="page-header">
      <div class="container">
        <div class="row"><div class="col-sm-12">
          <%= render '/partials/page_header/' %>
	</div></div>
      </div>
    </div>
  <% end %>

  <div class="page-content">
    <div class="container">
      <div class="row"><div class="col-sm-12">
        <%= yield %>
      </div></div>
    </div>
  </div>

  <%= render '/partials/footer/' %>
</body>
</html>
