<%= render 'partials/head' %>

<body>
  <%= render 'partials/header' %>

  <% if !@item[:hide_pageheader] %>
    <div class="page-header">
      <div class="container">
        <%= render 'partials/page_header' %>
      </div>
    </div>
  <% end %>

  <div class="page-masthead">
    <div class="container text-center">
      <h1>Your research data where you need it.</h1>
      <p class="lead">share, move, sync big data</p>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%= render 'partials/footer' %>
</body>
</html>
