<%= render 'partials/head' %>

<body class="home">
  <%= render 'partials/header' %>

  <% if !@item[:hide_pageheader] %>
    <div class="page-header">
      <div class="container">
        <%= render 'partials/page_header' %>
      </div>
    </div>
  <% end %>

  <div class="page-masthead">
    <div class="home-hero container text-left">
      <h1>Harness the power<br/>
          of the Globus<br/>
          research data<br/>
          management<br/>
          cloud.</h1>
    </div>
  </div>

  <div class="page-content">
    <div class="container" id="cookie_notice">
      <div class="row">
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          dev.globus.org uses Google Site Search and Google Analytics to make the site work better. These services use <strong>cookies</strong> as described <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">here</a>.
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%= render 'partials/footer' %>
</body>
</html>
