<%= render '/partials/head.*' %>

<body class="home">
  <%= render '/partials/header.*' %>
  <%= render '/partials/page_header.*', :in_row => false %>

  <div class="page-masthead">
    <div class="home-hero container text-left">
      <h1>Harness the power<br/>
          of the Globus<br/>
          research data<br/>
          management<br/>
          cloud.</h1>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%= render '/partials/footer.*' %>
</body>
</html>
