<%= render 'partials/head' %>
<body>
    <!-- sidebar for mobile -->
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="panel-group st-menu st-effect-3">
                <h1 class="st-heading">Site Docs Menu</h1>
                <%= globus_navigation_for("/site-docs/", :mobile => 'true') %>
            </div>
            <div class="st-page-content">
                <%= render 'partials/header' %>

                <% if !@item[:hide_pageheader] %>
                <div class="page-header">
                    <div class="container">
                        <div class="row"><div class="col-sm-12">
                            <%= render 'partials/page_header' %>
                        </div></div>
                    </div>
                </div>
                <% end %>
                <div class="st-content">
                    <div class="st-content-inner">
                        <div id="st-trigger-effects">
                            <button data-effect="st-effect-3">Site Docs Menu</button>
                        </div>
                    </div><!-- /st-content-inner -->
                </div><!-- /st-content -->
                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-9">
                                <%= yield %>
                            </div>
                            <div class="col-sm-4 col-md-3 sidebar">
                                <%= render 'partials/menu_sitedocs' %>
                            </div>
                        </div>
                    </div>
                </div>
                <%= render 'partials/footer' %>
            </div> <!-- eof st-page-content -->
        </div> <!-- eof st-pusher -->
    </div> <!-- eof st-container -->

</body>
</html>
