<% render 'default' do %>

<div class="row toolkit-doc">
  <div class="col-sm-9"><%= yield %></div>
  <div class="col-sm-3 sidebar">

    <% case
		when item.identifier.start_with?('/toolkit/docs/6.0')
		  menu_name = 'toolkit_60_menu'
		else
		  menu_name = 'toolkit_menu'
		end %>
    
    <% if menu_name != '' %>
    	<aside class="sidebar-block">
		    <% globus_load_menu(menu_name).each do |m| %>
					<% if m[:options].include?(:title) %>
				  	<b><%= m[:options][:title] %></b>
				  	<% m[:options].delete(:title) # Delete title value %>
				  <% end %>
			    <%= globus_render_menu(m[:items], m[:options]) %>
				<% end %>
			</aside>
		<% end %>

		<aside class="sidebar-block">
  		<p class="text-muted">Latest release: <strong><%= @config[:docs][:toolkit] %></strong></p>
  	</aside>
  
  </div>
</div>

<% end %>