<% render 'default' do %>

<div class="row toolkit-doc">
  <div class="col-sm-9"><%= yield %></div>
  <div class="col-sm-3">
    <div class="well well-sm text-center text-muted">
    	<small>Latest release: <strong><%= @config[:docs][:toolkit] %></strong></small>
    </div>

    <% if item.identifier.start_with?('/toolkit/docs/6.0')
	    globus_load_menu('toolkit_6.0_menu').each do |m| %>
				<div class="panel panel-default">
				  <div class="panel-heading"><b><%= m[:options][:title] %></b></div>
				  	<% m[:options].delete(:title) # Delete title value %>
				    <%= globus_render_menu(m[:items], m[:options]) %>
				</div>
		<% end
		end %>
  </div>
</div>

<% end %>